<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<div id="novoProjetoOuImportar">
    <span v-if="seen" v-html="template"></span>
</div>
<div id="navegadorOuNode">
    <span v-if="seen" v-html="template"></span>
</div>
<script src="novoProjetoOuImportar.js"></script>
<script src="navegadorOuNode.js"></script>